/* @import url('https://fonts.googleapis.com/css2?family=Fredoka'); */
:root {
  --primary: #FEF9ED;
  --primary-dark: #ededed;
  --secondary: #D9D9D9;
  --white: #FFFFFF;
  --border: #EF9771;
  --border-light: #F48989;
  --border-hard: #EB5E5E;
  --button-red: #F48989;
  --button-light: #F8D7A8;
  --button-medium: #EF9771;
  --accent: #B4B0E3;
  --light-accent: #CFCCED;
  --secondary-accent: #4D4699;
  --black: 0, 0, 0;
  --yellow: #F9D982;
}

button,
input {
  font-family: 'Fredoka', sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  max-width: 100dvw;
  max-height: 100vh;
  max-height: 100dvh;
  overflow-x: hidden;
}

@media screen and (max-width:768px) {
  html, body {
    font-size: 12px;
  }
}

@media screen and (min-width:1800px) {
  html, body {
    font-size: 18px;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

.background {
  background: url("/backgrounds/default.png") no-repeat;
  background-size: cover;
}

.backgroundSnowy {
  background: url("/backgrounds/default.png") no-repeat;
  background-size: cover;
}

.loginBackground {
  background: url("/backgrounds/loginBg.png") no-repeat;
  background-size: cover;
  min-height: 100vh;
}

hr{
  height: 420px;
  width: 3px;
  background-color: var(--border);
  margin: 1em;
  border-radius: 2px;
  border: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #F9D982;
  border-radius: 1em;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--button-medium);
  border-radius: 1em;
  height: 1em;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--border-hard);

}